body{
	font-size: 14px!important;
	font-family: "tahoma,arial,'Hiragino Sans GB',\5b8b\4f53,sans-serif";
}
a, a:hover, .pagination>li>a, .pagination>li>span{
	color: #333;
}
*:focus{
	box-shadow: none!important;
	-webkit-box-shadow: none!important;
	outline: 0 none;
}
thead{
	-webkit-user-select: none;
	user-select: none;
}
.hide{
	display: none;
}
.btn-default {
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
}
.user_profile{
	line-height: 80px;
}
.form-inline{
	position: relative;
	padding: 18px 0 7px 0;
}
.footer, .header{
    background-color: #7F8C8D;
    color: #fff;
}
.nav.nav-tabs{
	background-color: #f4f7fc;
	padding: 15px 20px 0 20px;
}
.content-container{
	padding: 0 20px;
}
.pallete-silver{
	background-color: #ECF0F1;
}
.footer{
	width: 100%;
	position: fixed;
    bottom: 0;
    height: 50px;
}
.footer p{
	line-height: 50px;
}
.footer .pull-right{
	color: #d9534f;
}
.full-line{
	min-width:auto;
    width:100%;
}
.photo-upload-single{
	display: inline-block;
	background-color: rgb(242, 242, 242);
	width: 200px;
	height: 150px;
	border-radius: 20px;
    text-align: center;
    line-height: 150px;
}
.photo-container{
	overflow: hidden;
	padding: 10px;
}
.photo_pos{
	padding: 5px;
	width: 150px;
	height: 70px;
	position: relative;
	float: left;
}
.photo-container-single .photo_pos{
	height: auto;
}
.photo_pos i{
	width: 21px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #e5e5e5;
    position: absolute;
    display: inline-block;
    background: #fff;
    z-index: 999;
    top: -10px;
    right: -6px;
    line-height: 18px;
    text-align: center;
    font-weight: 700;
    font-size: 10px;
    cursor: pointer;
    color: #c3c3c3;
}
.photo_pos img{
	width: 100%;
}
.photo-upload{
	padding: 5px;
	width: 150px;
	height: 100px;
	background: transparent url(http://yun.duiba.com.cn/developer/img/default_img_3.jpg) center center no-repeat;
	background-size: 148px 69px;
	float: left;
	cursor: pointer;
}
.photo-upload:hover{
	border: 1px solid #d9edf7;
}
.photo-upload-input{
	opacity: 0;	
	width: 200px;
	height: 150px;
	position: absolute;
    top: 0;
}
/*物流单号导入*/
.express-import{
	opacity: 0;
	position: absolute;
	top: 0;
}

.full button span {
	background-color: green;
	border-radius: 32px;
	color: black;
}
.partially button span {
	background-color: orange;
	border-radius: 32px;
	color: black;
}
ul.pagination{
	background-color: #d6dbdf;
}
.pagination li.disabled>a, .pagination li.disabled:hover>a{
	color: #333;
}

.pagination li.active>a, .pagination li.active:hover>a{
	background-color: #7f8c8d;
}
.tooltip-inner{
	background-color: #16a085;
}
/*.slider.slider-horizontal .slider-track{
	margin-top: 15px;
}*/
.form-inline > * {
   margin:5px 0;
}
.form-inline .btn,.form-inline>.checkbox{
	vertical-align: -3px!important;
}
.dropdown{
	cursor: pointer;
}
.dropdown-menu{
	background-color: #247ae5;
	margin-top: 2px;
}
.dropdown-menu>li>a{
	color: white;
}
.dropdown-menu>li:hover>a{
	color: #333;
}
td{
	max-width: 300px!important;
}
.hbmall-list li a{
	display: block;
	text-indent: 74px;
}
.hbmall-list-container{
	padding: 0;
	position: fixed;
	width: 180px;
	top: 80px;
	z-index: 10;
	background-color: #ecf0f8;
	font-size: 18px;
	border-right: 1px solid #ccd1db;
}

.hbmall-list-container .nav>li>a{
	padding: 0;
	color: #333;
}

.nav>li>a:focus,.nav>li>a:hover {
    text-decoration: none;
    background-color: rgb(215, 223, 236);
}

.hbmall-list-container .nav>li.active{
	background-color: rgb(215, 223, 236);
}
.nav>li{
	line-height: 65px;
}
.header.navbar{
	height: 80px;
	line-height: 80px;
	margin-bottom: 0;
	border-radius: 0;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 15;
	background-color: #247ae5;
	font-size: 18px;
	color: #fff;
}
.header.navbar h3{
	font-size: 18px;
}
/*更改默认tab*/
.nav-tabs>li>a, .nav-tabs>li>a:hover{
	border-radius: 0;
	border: 0;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
	border-left: 0;
	border-right: 0;
}
.light-weight h2, .light-weight h3,.light-weight h4{
	font-weight: 200!important;
}
.light-weight{
	background-color: #f4f7fc;
	overflow: hidden;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 40px;
}
.main-container{
	overflow: hidden;
	margin-left: 180px;
	margin-top: 80px;
	position: relative;
	max-width: 1200px;
	min-height: 800px;
}
.info-container .form-horizontal, .info-container .form-style{
	padding:  10px 50px;
}
td, th{
	text-align: center!important;
	vertical-align: middle!important;
}
td label{
	margin-bottom: 0;
}
td .form-inline > *{
	margin: 0;
}
.check-style{
	line-height: 45px;
}
.check-style input{
	vertical-align: 4px;
}
#snap_switch .container{
	margin-left: -30px;
}
@media(max-width: 1024px) {
	td{
		max-width: 250px;
	}
}
.form-control, .select2-search input[type=text]{
	border-width: 1px;
}
.order-table td{
	text-align: left!important;
	border: 0!important;
}
.border-top1{
	border-top: 1px solid #ddd;
}
.border-top1 .form-control{
	height: 30px;
}
.border-top1 .btn{
	line-height: 15px;
	margin-right: 20px;
}
tr .form-inline{
	display: inline-block;
}
/*sidebar图标*/
.overview-icon, .banner-icon, .product-icon, .order-icon, .manage-icon{
	background-repeat: no-repeat;
	background-size: 20px;
	background-color: transparent;
	background-position: 34px center;
}
.overview-icon{
	background-image: url(../img/overview.png);
}
.banner-icon{
	background-image: url(../img/banner.png);
}
.product-icon{
	background-image: url(../img/product.png);
}
.order-icon{
	background-image: url(../img/order.png);
}
.manage-icon{
	background-image: url(../img/manage.png);
}
/*日期弹窗*/
.date-popup .dropdown-menu{
	background-color: #fff;
	box-shadow: none;
}
.file_upload_link{
	background-color: transparent;
	border: 0;
	color: #337ab7;
	cursor: pointer;
}
/*上传状态*/
.upload_state{
	color: #337ab7;
}
.upload_state i{
	color: red;
	font-style: normal;
}

.input-info-title{
	width: 100px!important;
}
.text-warning.col-md-offset-1{
	display: inline-block;
	margin-left: 100px;
	margin-top: 10px;
}
/*图片星号, 标明此为必填*/
li.glyphicon-asterisk:before{
    left: 4px;
    bottom: -8px;
    position: absolute;
    color: red;
    font-size: 8px;
    z-index: 10;
}
.glyphicon-edit{
	cursor: pointer;
}